*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#canvas{
    background: #00030f;
}

#orbit-controls{
    width: 100%;
    position: absolute;
    bottom: 50px;
    color: white;
}

#orbit-controls ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;

}

#orbit-controls ul li{
    cursor: pointer;
    transition: all 0.1s;
}

#orbit-controls ul li:hover{
    color: gold;
}

#view-controls{
    position: absolute;
    right: 2em;
    top: 2em;
    color: white;
}

#information-video{
    position: absolute;
    top: 2em;
    left: 1em;
}
#information-video iframe{
    border: none;
}